:root {
    --size: 10;
}

/* header */

.title {
    display: inline-block;
    margin-bottom: 0;
}

.my-selection {
    min-width: 200px;
}

.my-btn {
    border-radius: 10px;
    padding: 5px 20px;
}

.my-selection {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("../img/chevron-down-solid.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.my-selection::focus {
    border: none;
}

/* main */


.my-container {
    width: 800px;
    height: 800px;
    position: relative;
}

.row {
    gap: 5px;
    height: 100%;
}

.box {
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
    font-size: 1.3em;
    padding: 20px 0;
}

.box:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.box:focus::-webkit-input-placeholder {
    font-size: 0.75em;
    position: relative;
    top: -30px; 
    transition: 0.2s;
}

.send {
    margin-top: 1em;
    padding: 10px 20px;
    color: white;
    background-color: black;
}

.send:hover, .send:focus {
    box-shadow: none;
}

.game-over {
    position: absolute;
    top: 30%;
}

.game-over > h1 {
    font-size: 4em;
}

.game-over > h2 {
    font-size: 3.7em;
}

.score {
    font-size: 3.5em;
    font-weight: 800;
}

.bg-green {
    background-color: chartreuse;
}

.bg-red {
    background-color: crimson;
}

.opacity-50 {
    opacity: 0.1;
}

